@import url('../../rotation/rotation.css');
.header__square-pic {
  height: 568px;
  width: 568px;
  background-image: url('../../../images/triangle.svg');
  background-color:#2f80ed;
  position: absolute;
  top: 64px;
  right: 0px;
}
