@import url('../digits/table/table.css');
@import url('../digits/table/__text/_theme_dark/table__text_theme_dark.css');
@import url('./__triangle/kaufman__triangle.css');
.kaufman{
  margin: 0px auto;
  background-color: #1f1f1f;
  position: relative;
  z-index: -1;
  overflow: hidden;
}
