.logo_place_footer{
  background-image: url('../../../images/logo_place_footer.png');
  width: 183px;
  height: 35px !important;
  display: block;
  background-size: cover;
  transition: opacity .5s ease;
}
.logo_place_footer:hover{
  opacity: 0.5;
}
