.logo_place_header{
  height: 32px;
  position: absolute;
  left:64px;
  top: 30px;
  background-image: url('../../../images/logo.svg');
  z-index: 1;
  text-decoration: none;
  transition: opacity .5s ease;
}
.logo_place_header:hover{
  opacity: 0.5;
}
