@import url('./-title_theme-dark/section-tetle_theme-dark.css');
.section-title{
  display: block;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.15;
}
