@import url('./__item/cards__item.css');
@import url('./__image/cards__image.css');
@import url('./__title/cards__titles.css');
@import url('./__description/cards__description.css');

.cards{
  display: flex;
  margin: 0 auto;
  width: 920px;
  flex-wrap: wrap;
  list-style:none;
}
