@import url('./-title/feynman-title.css');
@import url('./-subtitle/feynman-subtitle.css');
@import url('./-link/feynman-link.css');
@import url('./-illustration/feynman-illustration.css');
.feynman{
  box-sizing: border-box;
  height: 890px;
  background-color: #f2f2f2;
  padding-top: 100px;
  margin:0 auto;
  position: relative;
  z-index: 0;
}
