/* @font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter/Inter-Regular.woff') format('woff'),
       url('../fonts/Inter/Inter/Inter-Regular.woff2') format('woff2');
  font-weight: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter/Inter-Bold.woff') format('woff'),
       url('../fonts/Inter/Inter/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter/Inter-SemiBold.woff') format('woff'),
       url('../fonts/Inter/Inter/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
} */

@import url('../blocks/pages/page.css');


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */


  /* z-index: -10; */
  /* transition: transform 6s;
  transform: rotate(360deg); */


/* и элемента с модификатором вида ключ-значение */


/* Секция main
Блок discription */









/* Блок Techniques */







