@import url('./_theme_dark/section__title_theme_dark.css');
.section__title{
  display: block;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.15;
}
